<section class="no-padding" id="portfolio">
    {% if site.portfolio_heading %}
    <div class="container text-center">
        <h2 class="section-heading">{{ site.portfolio_heading }}</h2>
        <hr class="primary">
    </div>
    {% endif %}
    <div class="container-fluid">
        <div class="row no-gutter">
            {% for item in site.portfolio_items %}
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box portfolio-box--flippable">
                    <div class="portfolio-box__inner">
                        <!-- Front Side (Image) -->
                        <div class="portfolio-box__front">
                            <img src="{{ item.image | relative_url }}" class="portfolio-box__image" loading="lazy" alt="{{ item.name | escape }}">
                            <div class="portfolio-box__overlay">
                                <div class="portfolio-box__content">
                                    <div class="portfolio-box__category">
                                        {{ item.category }}
                                    </div>
                                    <div class="portfolio-box__name">
                                        {{ item.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Back Side (Description) -->
                        <div class="portfolio-box__back">
                            <div class="portfolio-box__content">
                                <div class="portfolio-box__category">
                                    {{ item.category }}
                                </div>
                                <div class="portfolio-box__name">
                                    {{ item.name }}
                                </div>
                                <p class="portfolio-box__description">
                                    {{ item.flip_description }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
